<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<script src="https://kit.fontawesome.com/843c438b04.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"/>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script type="text/javascript">
      $(document).ready(function() {
        var iconId;

        $('i').click(function() {
          var likeClass = $(this).attr( 'class' );
          var boardId = $(this).attr( 'name' );
          iconId = $(this).attr( 'id' ); // 클릭한 아이콘 아이디 값 저장

          if (likeClass == 'fa-solid fa-heart') {  // 하트가 눌러져 있다면 -> 취소로직
            var likeCheck = 1;
            $(this).attr('class', 'fa-regular fa-heart');
          } else if (likeClass == 'fa-regular fa-heart') { // 하트가 안눌러져 있다면 -> 누르는 로직
            var likeCheck = 0;
            $(this).attr('class', 'fa-solid fa-heart');
          }

          $.ajax({
            url: "/like",
            data: {
              likeCheck : likeCheck,
              boardId : boardId,
            },
            type: "POST",

            success: function(updateLikeCnt) {
              $('#'+ iconId ).text(updateLikeCnt);
            }

          });
        })
      });
    </script>
<head th:replace="fragments/header :: header" />
<script>
    var num = 1;
</script>
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <div class="py-5 text-center">
        <h2>글 목록</h2>
    </div>

<!--    <form role="form" method="post">-->
<!--        <div class="form-group">-->
<!--            <select name="memberId" id="member" class="form-control">-->
<!--                <option th:each="member : ${findMember}"-->
<!--                        th:value="${member.id}"-->
<!--                        th:text="${member.name}" />-->
<!--            </select>-->
<!--        </div>-->



    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>작성자</th>
                <th>제목</th>
                <th>작성 일</th>
                <th>조회수</th>
                <th>좋아요</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${findBoards}">
                <td>
                    <script>
                        document.write(num++);
                    </script>
                </td>
                <td th:text="${board.member.name}"></td>
                <td th:text="${board.name}"></td>
                <td th:text="${board.writeDate}"></td>
                <td th:text="${board.countVisit}"></td>
                <td>
                    <div>
                        <li class="d-flex align-items-center mx-2" th:with="key=${board.id}">
                            <i th:id="'iconOrderedByD_' + ${board.id}"
                               th:class="${myLikeBoardId.get(key) == 1} ? 'fa-solid fa-heart' : 'fa-regular fa-heart'"
                               th:name="${board.id}"
                               th:text="${board.likeCount}"
                               style="color: red;">10</i>
                        </li>
                    </div>
                </td>
                <td>
                    <a href="#" th:href="@{/boards/{boardId}/edit (boardId=${board.id})}" class="btn btn-primary" role="button">수정</a>
                    <a href="#" th:href="@{/boards/{boardId}/read (boardId=${board.id})}" class="btn btn-primary" role="button">조회</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    </form>

    <div th:replace="fragments/footer :: footer"/>

</div> <!-- /container -->

</body>
</html>
