<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<script>
    var num = 1;
</script>
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <div class="py-5 text-center">
        <h2>글 목록</h2>
    </div>

<!--    <form role="form" method="post">-->
<!--        <div class="form-group">-->
<!--            <select name="memberId" id="member" class="form-control">-->
<!--                <option th:each="member : ${findMember}"-->
<!--                        th:value="${member.id}"-->
<!--                        th:text="${member.name}" />-->
<!--            </select>-->
<!--        </div>-->


    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>작성자</th>
                <th>제목</th>
                <th>작성 일</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${findBoards}">
                <td>
                    <script>
                        document.write(num++);
                    </script>
                </td>
                <td th:text="${board.member.name}"></td>
                <td th:text="${board.name}"></td>
                <td th:text="${board.writeDate}"></td>
                <td>
                    <a href="#" th:href="@{/boards/{boardId}/edit (boardId=${board.id})}" class="btn btn-primary" role="button">수정</a>
                    <a href="#" th:href="@{/boards/{boardId}/read (boardId=${board.id}, memberId = ${findMember.id})}" class="btn btn-primary" role="button">조회</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    </form>

    <div th:replace="fragments/footer :: footer"/>

</div> <!-- /container -->

</body>
</html>
