<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" >
    <style>
        .container {
            max-width: 560px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <div class="py-5 text-center">
        <h2>글 작성</h2>
    </div>

    <form th:action="@{/boards/new}" th:object="${boardForm}" method="post">

        <div class="form-group">
            <label for="member">작성자</label>
            <select name="memberId" id="member" class="form-control">
                <option th:each="member : ${findMember}"
                        th:value="${member.id}"
                        th:text="${member.name}" />
            </select>
        </div>

        <div class="form-group">
            <label th:for="name">글 제목</label>
            <input type="text" th:field="*{name}" class="form-control" placeholder="이름을 입력하세요">
        </div>

        <div class="form-group">
            <label th:for="content">글 내용</label>
            <textarea cols="50" rows="10" th:field="*{content}" class="form-control" placeholder="글 내용을 입력하세요.">상품 설명</textarea>
        </div>

        <button type="submit" class="btn btn-primary">작성</button>

    </form>
    <br/>
    <div th:replace="fragments/footer :: footer" />

</div> <!-- /container -->


</body>
</html>
